{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La diffusion - Albums et merchandising{% endblock %}
{% block meta_description %}Découvrez nos albums et articles de merchandising. Avec Bastard Sound System, trouvez des disques uniques et des goodies qui amplifient votre passion pour la musique.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Des disques et des goodies</h1>
        </div>
    </section>

    <section class="app-section post-figure">
        <p class="text-center">[LIVE COMPONENT - MERCHANDISING]</p>
    </section>
{% endblock %}
