{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La diffusion - Pressage de CD et de vinyles{% endblock %}
{% block meta_description %}Chez Bastard Sound System, donne vie à ta musique avec des CD et vinyles de qualité. Nous t’accompagnons dans chaque étape, du pressage à la distribution, pour créer des disques uniques qui marquent les esprits.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Pressage de CD et de vinyles</h1>
            <p>La diffusion de ta musique</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Fais vibrer ta musique sur CD et vinyle</h2>

        <p class="text-justify small">
            Dans un monde où la musique en format numérique domine, rien ne remplace le charme et la puissance d’un
            <strong>album physique</strong>. Chez <strong>Bastard Sound System</strong>, nous t'accompagnons dans la
            production de tes <strong>CD</strong> et <strong>vinyles</strong>, en garantissant une qualité
            exceptionnelle à chaque étape du <strong>pressage</strong>. Que tu souhaites sortir un
            <strong>album</strong> complet ou un <strong>single</strong> en édition limitée, notre équipe prend en
            charge l’intégralité du processus. Avec <strong>BSS</strong>, tu peux offrir à ton <strong>public</strong>
            un produit physique qui reflète
            toute l'âme de ta <strong>musique</strong>, tout en marquant les esprits avec un support que l’on peut
            toucher, collectionner et faire tourner encore et encore.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/production/diffusion/pressing1.webp') }}" alt="Pressage de CD"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Des disques qui deviendront collector</h2>

        <div class="app-grid three">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Une Production de Qualité et Respectueuse de Ton Art</h3>
                    <p>
                        Pour chaque <strong>pressage</strong>, nous veillons à ce que chaque détail compte. Du choix du
                        support
                        à la
                        <strong>qualité sonore</strong>, en passant par le design de la <strong>pochette</strong> et des
                        <strong>artworks</strong>, notre équipe collabore avec des partenaires de confiance pour que
                        chaque
                        exemplaire soit un véritable objet d’art. Que tu optes pour un <strong>pressage CD</strong>
                        classique ou pour une version
                        <strong>vinyle</strong>
                        collector, nous t’offrons un service sur mesure pour que ton <strong>album physique</strong>
                        soit à
                        la
                        hauteur de tes ambitions.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Personnalisation des Designs et Packaging</h3>
                    <p>
                        Le <strong>design</strong> et le
                        <strong>packaging</strong>
                        sont
                        essentiels pour refléter ton <strong>identité artistique</strong>. C’est pourquoi nous
                        t’accompagnons
                        dans
                        la création des <strong>visuels</strong>, des <strong>pochettes</strong> et du
                        <strong>graphisme</strong>
                        pour que chaque aspect de ton album physique capte l’attention et raconte ton histoire. Que ce
                        soit
                        un
                        <strong>livret détaillé</strong> pour un CD ou une pochette artistique pour un vinyle, notre
                        équipe
                        de
                        créatifs est là pour donner vie à ton projet. Nous mettons également en avant la possibilité
                        d’opter
                        pour des <strong>versions limitées</strong>,
                        des
                        <strong>vinyles colorés</strong> ou des <strong>pressages spéciaux</strong>, pour offrir à tes
                        fans
                        une
                        véritable expérience collector.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Distribution et Livraison</h3>
                    <p>
                        Une fois la production terminée, nous t’aidons à organiser la <strong>distribution</strong> et
                        la
                        <strong>livraison</strong> de tes <strong>CD</strong> et <strong>vinyles</strong>. Que ce soit
                        pour
                        un
                        <strong>lancement d’album</strong>, des <strong>précommandes</strong>, ou encore des
                        <strong>ventes lors de concerts</strong>, nous t'accompagnons pour que ton produit arrive entre
                        les
                        mains de
                        tes fans rapidement et dans les meilleures conditions.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/production/diffusion/pressing2.webp') }}" alt="Pressage de Vinyles"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Avec <strong>BSS</strong>, chaque <strong>album physique</strong> que tu produis devient une pièce unique
            qui met en valeur ton <strong>art</strong>. Ensemble, faisons en sorte que ta <strong>musique</strong>
            trouve son chemin dans les collections de tes <strong>fans</strong> avec des CD et des vinyles qui marquent
            les esprits.
        </p>

        <p>
            <a href="" class="app-button cta">
                BSS t’accompagne dans le pressage de CD et vinyles&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
