{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La diffusion - Plateformes de streaming{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Plateformes de streaming</h1>
            <p>La diffusion de ta musique</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Diffuse ta musique sur toutes les plateformes</h2>

        <p class="text-justify small">
            Aujourd’hui, le <strong>streaming</strong> est le principal canal de diffusion de la musique, et chez
            <strong>Bastard Sound System</strong>, nous t’aidons à exploiter tout son potentiel. Nous te guidons dans la
            <strong>distribution numérique</strong> de tes créations sur les plus grandes plateformes comme
            <strong>Spotify</strong>, <strong>Apple Music</strong>, <strong>Deezer</strong>, <strong>Tidal</strong> et
            bien d'autres. Avec <strong>BSS</strong>, tu n’as pas à te soucier des démarches complexes liées à la mise
            en ligne de ta
            musique. Nous nous occupons de tout, pour que tes morceaux soient disponibles partout et pour tous, à portée
            de clic.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/production/diffusion/streaming1.webp') }}" alt="Services de Streaming"/>
    </figure>

    <section class="app-section post-figure">
        <h2>C'est pas virtuel</h2>

        <div class="app-grid three">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Gestion Complète de Tes Sorties Digitales</h3>
                    <p>
                        Nous prenons en charge la <strong>distribution numérique</strong> de
                        tes
                        <strong>albums</strong>, <strong>EP</strong>, ou <strong>singles</strong> en t'accompagnant de
                        la
                        préparation des fichiers audio à la <strong>mise en ligne</strong>. Chaque plateforme a ses
                        spécificités, et
                        nous nous assurons que ta musique soit optimisée pour respecter les standards de chaque service
                        de
                        <strong>streaming</strong>. De la création des <strong>métadonnées</strong> à la gestion des
                        <strong>visuels</strong> et des
                        <strong>pochettes</strong>, nous veillons à ce que tes sorties soient prêtes à capter
                        l’attention du
                        <strong>public</strong> et des <strong>professionnels</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Promotion et Visibilité sur les Plateformes</h3>
                    <p>
                        La <strong>visibilité</strong> est essentielle pour émerger dans l'univers du
                        <strong>streaming</strong>.
                        Nous ne nous contentons pas de distribuer ta musique, nous t’aidons
                        également
                        à
                        la <strong>promouvoir</strong> pour qu’elle soit remarquée. Nous mettons en place des stratégies
                        pour
                        augmenter tes <strong>audiences</strong> et te placer sur des <strong>playlists</strong>
                        pertinentes,
                        afin
                        d’atteindre plus de <strong>fans</strong> et de renforcer ton <strong>impact en ligne</strong>.
                        Nous
                        t’accompagnons également dans la création de <strong>campagnes marketing</strong> spécifiques
                        pour
                        maximiser ta présence lors des lancements de nouveaux morceaux ou albums.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Monétisation et Statistiques</h3>
                    <p>
                        Grâce à notre service, tu peux suivre la <strong>monétisation</strong> de ta musique sur chaque
                        plateforme.
                        Nous nous assurons que tu perçois tes <strong>royalties</strong> et te fournissons des
                        <strong>statistiques détaillées</strong> pour suivre l'évolution de tes écoutes, identifier tes
                        <strong>fans</strong> les plus fidèles et analyser les performances de tes titres. Nos outils te
                        permettent d’optimiser ta présence en ligne, d’analyser les tendances et de mieux
                        comprendre
                        comment atteindre ton <strong>public</strong>. Chez <strong>BSS</strong>, nous mettons tout en
                        œuvre
                        pour
                        que ta carrière en ligne soit aussi rentable que possible.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/production/diffusion/streaming2.webp') }}" alt="Monétisation et Statistiques"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Chez <strong>BSS</strong>, nous faisons en sorte que ta musique atteigne les oreilles du plus grand nombre
            via les <strong>services de streaming</strong> les plus populaires. Ensemble, faisons de ta présence en
            ligne un véritable levier pour ta carrière musicale.
        </p>

        <p>
            <a href="#" class="app-button cta">
                BSS t’aide à diffuser ta musique sur les plus grandes plateformes de streaming&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
