{% extends 'back_office/_layout.html.twig' %}

{% block title %}Espace Administration{% endblock %}
{% block body_class %}backoffice home{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Bienvenue dans l'Espace Administration&nbsp;!</h1>
    </section>

    <section class="app-section">
    </section>
{% endblock %}
