{% extends '@FrontOffice/index.html.twig' %}

{% block title %}Adhérez à l'asso{% endblock %}
{% block body_class %}frontoffice form{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Entrez dans l'évolution&nbsp;!</h1>
    </section>

    <section class="app-section text">
        <p>
            Devenir membre de l'asso, c'est embrasser pleinement l'opportunité de transformer votre scène musicale. En
            adhérant à BSS, vous accédez à une foultitude de services exclusifs, des réducs sur nos offres et nos
            prestas, des invitations à des ateliers de formation et l'entrée VIP à des événements qui font vibrer le
            cœur de la communauté artistique. Mais ce n'est pas tout : vous intégrez également un réseau de passionnés
            et de professionnels engagés, prêts à soutenir et à amplifier chaque voix, chaque note. Adhérez dès
            maintenant et faites partie de ceux qui façonnent l'avenir de la scène !
        </p>
    </section>
{% endblock %}
