{% extends '@FrontOffice/index.html.twig' %}

{% block title %}Adhérez à l'asso{% endblock %}
{% block body_class %}frontoffice form{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Entrez dans l'évolution&nbsp;!</h1>
    </section>


{% endblock %}
