&.artist {
  .app-main {
    .app-section {
      &.cover {
        img {
          @include respondTo(md) {
            height: 80dvh;
            object-position: center 15%;
          }
        }
      }

      .app-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;

        @include respondTo(md) {
          grid-template-columns: 1fr 2fr;
        }

        .app-grid-logo {
          @include displayFlex(center, center);
          padding: 1rem;
          /*background-color: rgba($third, 0.15);*/
          border: 0.25rem solid rgba($third, 0.15);
          border-radius: 0.25rem;

          img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 0.25rem;
          }
        }

        .app-grid-content {
          display: grid;
          grid-template-rows: auto auto;

          .app-text {
            &.app-description {
              margin-bottom: 1.5rem;
            }

            &.info {
              @include respondTo(md) {
                width: auto;
              }
            }
          }

          .app-info-grid {
            @include displayGrid(repeat(2, 1fr), 1.5rem);

            @include respondTo(md) {
              @include displayGrid(repeat(4, 1fr), 1.5rem);
            }
          }
        }
      }

      .app-socials {
        @include displayGrid(repeat(auto-fit, minmax(min(100%, 5rem), 1fr)), 1.5rem);
        justify-content: center;
        align-items: center;

        @include respondTo(md) {
          @include displayFlex(center, center, 1.5rem);
        }

        a {
          flex: 1;
          padding: 0.5rem 1rem;
          text-align: center;
          border-radius: 0.25rem;

          &:last-child {
            @include respondTo(xs) {
              justify-self: center;
              grid-column: 1 / -1;
            }
          }

          &:hover {
            background-color: $secondary;

            .app-icon {
              color: white !important;
            }
          }
        }
      }
    }

    .app-image {
      &.large {
        img {
          @include respondTo(md) {
            height: 80dvh;
            object-position: center 15%;
          }
        }
      }
    }
  }
}
