&.home {
  .app-header {
    height: 30dvh;

    @include respondTo(md) {
      height: 50dvh;
    }

    &.top {
      @include respondTo(md) {
        .app-logo {
          img {
            height: 12dvh;
          }
        }
      }
    }

    .app-logo {
      img {
        height: 28dvh;
      }
    }
  }
}
