&.service {
  .app-section {
    .app-grid {
      .grid-item {
        img {
          flex-grow: 1;
          object-fit: cover;
          object-position: center 70%;
        }

        .app-grid {
          margin: 0 1rem;
          grid-gap: 1rem;
          background-color: transparent;
        }
      }
    }
  }
}
