&.backoffice {
  background-color: $primary;

  .app-alert {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
  }

  h1 {
    color: $primary;
  }

  @import './header';

  @import './navigation';

  @import './main';
}
