{% extends '@Admin/index.html.twig' %}

{% block title %}Admin Home{% endblock %}

{% block main %}
    <h1>Welcome to the back office of Bastard Sound System</h1>
    <p>This is the home page for our Admin domain.</p>
{% endblock %}
