{% extends '@Admin/index.html.twig' %}

{% block title %}Les Documents Officiels - Administration Générale{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Les Documents Officiels de BSS</h1>
    </section>

    <section class="app-section">

    </section>
{% endblock %}
