<div class="app-header">
    <div class="infos">
        <h2>ADMINISTRATION BASTARD SOUND SYSTEM</h2>
        {{ app.user.fullname }}
    </div>

    <div class="links">
        <a href="{{ path('front_office_index') }}">
            <i class="fa-solid fa-house-chimney" aria-hidden="true"></i>
            Front Office
        </a>

        <a href="{{ path('app_logout') }}" onclick="return window.confirm('Vous partez ?')">
            <i class="fa-solid fa-right-from-bracket"></i>
            Déconnexion
        </a>
    </div>
</div>
