tbody {
  tr {
    td {
      padding: 1rem 0.5rem;
      vertical-align: middle;
      transition: all 0.5s;

      &:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }

      &:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }

      &:has(.info),
      &:has(.success),
      &:has(.warning),
      &:has(.danger),
      &:has(.primary),
      &:has(.disabled) {
        @include displayFlex(center, center, 1rem);
      }

      a {
        color: $primary;
        transition: all 0.5s;

        &:hover {
          color: $secondary;
        }

        &.info,
        &.success,
        &.warning,
        &.danger,
        &.primary,
        &.disabled {
          display: block;
          flex: 1;
          text-align: center;

          i,
          svg {
            font-size: 1.5rem;
          }
        }
      }
    }

    &:nth-child(even) {
      td {
        background-color: rgba($secondary, 0.1);
      }
    }

    &:hover {
      td {
        background-color: rgba($third, 0.5);
      }
    }
  }
}
