thead {

  &.sticky {
    position: sticky;
    top: 5.5rem;
  }

  tr {
    th {
      padding: 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;
      text-align: left;
      color: $white;
      background-color: $secondary;

      &:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }

      &:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }

      &:has(a) {
        background-color: $success;

        a {
          &:has(i),
          &:has(svg) {
            display: block;
            flex: 1;
            text-align: center;
            color: $white;

            i,
            svg {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
