{% extends 'back_office/_layout.html.twig' %}

{% block title %}Services Techniques{% endblock %}
{% block body_class %}backoffice services technical home{% endblock %}

{% block main %}
    {% include 'back_office/services/technical/_sidenavigation.html.twig' %}

    <div class="maincontent">
        <section class="app-section pagetitle">
            <h1>Administration des Services Techniques</h1>
        </section>

    </div>
{% endblock %}
