h1,
h2,
h3 {
  font-family: $font-secondary;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $third;
}

h2 {
  margin-bottom: 1.5rem;
  color: $primary;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-align: left;
  color: $primary;
}

a {
  text-decoration: none;
  color: $third;
  transition: all 0.4s;

  &:hover {
    color: $secondary;
  }
}
