{% extends '@FrontOffice/index.html.twig' %}

{% block title %}Connectez-vous{% endblock %}
{% block body_class %}frontoffice form{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Débloquez votre expérience BSS&nbsp;!</h1>
    </section>

    <section class="app-section text">
        <p>
            Welcome dans la zone VIP, l'endroit où tout se passe ! Connecte-toi à ton espace perso et plonge direct dans
            le vif du sujet chez BSS. C'est ici que tu gères tes infos, que tu demandes ou que tu retrouves tes
            documents, que tu déniches des bons plans exclusifs et que tu restes branché sur les dernières vibrations de
            la scène. Que tu sois adhérent ou partenaire, c’est ton QG pour prendre le pouls de la communauté et booster
            ta présence sur la scène. Alors, prêt à vivre dans la vraie réalité augmentée ? Connecte-toi et que la fête
            commence !
        </p>
    </section>

    <section class="app-section">
        <form method="post" class="app-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <fieldset class="form-fieldset">
                <legend class="form-legend">Vos identifiants</legend>

                <div class="form-group">
                    <label for="inputEmail" class="form-label required">Votre e-mail</label>
                    <input type="email"
                           value="{{ last_username }}"
                           name="email"
                           id="inputEmail"
                           class="form-control"
                           autocomplete="email"
                           required
                           autofocus/>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="form-label required">Votre mot de passe</label>
                    <input type="password"
                           name="password"
                           id="inputPassword"
                           class="form-control"
                           autocomplete="current-password"
                           required>
                </div>
            </fieldset>

            <div class="form-group">
                <span>
                    &nbsp;
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </span>
                <button class="form-submit app-btn cta" type="submit">Connexion</button>
            </div>
        </form>
    </section>
{% endblock %}
