{% extends '@Adherent/index.html.twig' %}

{% block title %}Adherent Home{% endblock %}

{% block main %}
    <h1>Welcome to the Adherent zone of Bastard Sound System</h1>
    <p>This is the home page for our Adherent domain.</p>
    <p>
        {{ app.user.name }}
        -
        {{ app.user.adherentType }}
        -
        <a href="{{ path('front_office_index') }}">Home</a>
        -
        <a href="{{ path('app_logout') }}">Logout</a>
    </p>
{% endblock %}
