{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Le management de ta carrière{% endblock %}
{% block meta_description %}Chez Bastard Sound System, définis ta stratégie de carrière musicale avec un management sur mesure. Élabore des objectifs clairs, un plan d’action concret et construis ta marque personnelle pour atteindre tes ambitions.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Ta stratégie de carrière</h1>
            <p>Le management chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Prends les Rênes de Ta Carrière Musicale</h2>

        <p class="text-justify small">
            Dans l’univers dynamique de la <strong>musique</strong>, avoir une <strong>stratégie de carrière</strong>
            bien définie est essentiel pour réussir. Chez <strong>Bastard Sound System</strong>, nous comprenons les
            <strong>défis</strong> auxquels tu fais face et nous sommes là pour t’aider à tracer un
            <strong>chemin</strong> vers le <strong>succès</strong>. Une bonne stratégie te permettra de maximiser tes
            <strong>opportunités</strong>, d’atteindre ton <strong>public cible</strong> et de construire une
            <strong>carrière solide</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/management/career1.webp') }}" alt="Stratégie de carrière"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Comment on fait&nbsp;?</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Définir Tes Objectifs</h3>
                    <p>
                        La première étape d’une <strong>stratégie de carrière</strong> réussie est d’analyser ta
                        <strong>situation actuelle</strong>. Quelles sont tes <strong>forces</strong>? Quelles sont les
                        <strong>opportunités</strong> sur le marché ? Nous t'aiderons à définir des
                        <strong>objectifs</strong>
                        clairs et réalisables. Que tu souhaites enregistrer un <strong>album</strong>, organiser une
                        <strong>tournée</strong> ou augmenter ta <strong>présence en ligne</strong>, nous sommes là pour
                        t’accompagner dans chaque étape de ce <strong>processus</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Établir un Plan d'Action</h3>
                    <p>
                        Une fois tes <strong>objectifs</strong> fixés, il est temps d’élaborer un <strong>plan
                                                                                                          d'action</strong>
                        concret. Cela implique de déterminer les <strong>étapes</strong> nécessaires pour atteindre tes
                        objectifs,
                        ainsi que les <strong>ressources</strong> dont tu auras besoin. Que ce soit des
                        <strong>formations</strong>,
                        des <strong>collaborations</strong> ou des <strong>investissements</strong>, nous t'aiderons à
                        établir une
                        <strong>feuille de route</strong> qui te guidera vers le succès.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Construire Ta Marque</h3>
                    <p>
                        Dans l'industrie <strong>musicale</strong>, ta <strong>marque personnelle</strong> est
                        essentielle.
                        Nous
                        t'aiderons à développer une <strong>image</strong> qui te ressemble et qui résonne avec ton
                        <strong>public</strong>. Cela inclut non seulement ton <strong>style musical</strong>, mais
                        aussi ta
                        <strong>présence sur les réseaux sociaux</strong>, tes <strong>visuels</strong> et la manière
                        dont
                        tu
                        interagis avec ton <strong>audience</strong>. Une marque forte te permettra de te démarquer dans
                        un
                        paysage
                        <strong>concurrentiel</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Évaluer et Adapter</h3>
                    <p>
                        Le marché de la <strong>musique</strong> évolue constamment, et il est crucial
                        d’<strong>évaluer</strong>
                        régulièrement ta <strong>stratégie</strong>. Nous te guiderons dans l'<strong>analyse</strong>
                        de
                        tes
                        performances, en te fournissant des retours constructifs et des recommandations pour
                        <strong>adapter</strong> ta stratégie en fonction des <strong>tendances</strong> du moment. Être
                        <strong>flexible</strong> et réactif est la clé pour rester pertinent et saisir les
                        <strong>opportunités</strong> qui se présentent.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/management/career2.webp') }}" alt="Musiciens et Groupes"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Une <strong>stratégie de carrière</strong> bien pensée est la clé pour faire avancer ta
            <strong>musique</strong>. Avec <strong>BSS</strong> à tes côtés, tu as accès à l’<strong>expertise</strong>
            et aux <strong>ressources</strong> nécessaires pour réaliser tes ambitions. Ensemble, faisons résonner ta
            <strong>musique</strong> et atteignons des <strong>sommets</strong>&nbsp;!
        </p>
        <p>
            <a href="#" class="app-button cta">
                Contacte-nous pour discuter de ta stratégie de carrière&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
