{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Le management de ta communications{% endblock %}
{% block meta_description %}Optimise ta stratégie de communication avec Bastard Sound System : développe ton image de marque, engage ton public et fais résonner ta musique à travers une présence en ligne percutante.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Ta communication</h1>
            <p>Le management chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Nous t'accompagnons dans ta communication</h2>

        <p class="text-justify small">
            Dans l'industrie <strong>musicale</strong>, la <strong>communication</strong> est cruciale pour que tu te
            fasses connaître et que tu crées des connexions significatives avec ton <strong>public</strong>. Chez
            <strong>Bastard Sound System</strong>, nous gérons avec toi toute ta stratégie de communication pour que tu
            te concentres sur l’essentiel : ta <strong>musique</strong>. Que ce soit pour transmettre ton
            <strong>message</strong>, annoncer tes <strong>événements</strong> ou bâtir une
            <strong>communauté</strong> autour de toi, <strong>BSS</strong> est là pour s’occuper de toi. Chaque
            <strong>interaction</strong> avec ton <strong>public</strong> compte, et nous nous assurons que
            chaque <strong>post</strong>, chaque apparition lors d'un <strong>concert</strong> laisse une empreinte
            durable. Nous mettons en place des stratégies pour exprimer ta <strong>personnalité</strong> et ta
            <strong>passion</strong> de manière percutante, afin que tu sois mémorable auprès de ton public.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/management/communication1.webp') }}" alt="Conseils en Communication"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Qu'est-ce qu'on fait&nbsp;?</h2>

        <div class="app-grid two mb-1">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Gérer Ta Présence en Ligne</h3>
                    <p>
                        Ta <strong>présence en ligne</strong> est un élément clé de ta visibilité, et
                        <strong>BSS</strong>
                        s’en
                        charge avec toi. Nous t'aidons à gérer tes <strong>réseaux sociaux</strong>, à partager ta
                        <strong>musique</strong>, tes <strong>projets</strong>, et tes <strong>performances</strong>,
                        tout
                        en
                        publiant du contenu engageant qui reflète ton <strong>univers artistique</strong>. Notre
                        objectif
                        est de
                        créer une <strong>communauté</strong> solide autour de toi, pour maximiser ta
                        <strong>visibilité</strong>. Nous diversifions également ton contenu : des
                        <strong>vidéos</strong> en coulisses, des
                        <strong>sessions d'enregistrement</strong>, ainsi que des moments qui rapprochent ton
                        <strong>public</strong> de toi. Avec notre co-gestion de tes <strong>réseaux sociaux</strong>,
                        tu
                        bénéficies
                        d’une stratégie qui capte l'attention, tout en restant fidèle à ton
                        <strong>authenticité</strong> et
                        maître
                        de ton image.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Peaufiner Ton Image de Marque</h3>
                    <p>
                        Ton <strong>image de marque</strong> est ce qui te distingue dans un <strong>marché
                                                                                                     concurrentiel</strong>,
                        et nous sommes là pour la soigner. Nous créons une <strong>image cohérente</strong> qui reflète
                        ton
                        <strong>style musical</strong> et capte l’attention des <strong>organisateurs</strong> et des
                        <strong>fans</strong>. Cela inclut la gestion de ton <strong>logo</strong>, de tes
                        <strong>visuels</strong>,
                        ainsi que la façon dont tu te présentes sur les <strong>réseaux sociaux</strong>. Lors de tes
                        <strong>événements</strong>, nous te conseillons et nous nous assurons que ton
                        interaction avec
                        le <strong>public</strong> renforce ton <strong>image de marque</strong>. Nous t’aidons à
                        développer
                        une
                        identité forte et authentique qui résonne avec tes <strong>valeurs</strong>.
                    </p>
                </div>
            </div>
        </div>

        <div class="app-grid">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Interaction et Retour d'Expérience</h3>
                    <p>
                        Nous gérons également l’<strong>engagement</strong> de ton <strong>public</strong>. Nous
                        encourageons les
                        <strong>feedbacks</strong>, les <strong>avis</strong> et les interactions, en créant des
                        <strong>sondages</strong> et des <strong>sessions de questions-réponses</strong> pour que tu
                        restes
                        connecté
                        avec ton audience. Notre équipe veille à ce que tu restes à l’écoute de tes
                        <strong>fans</strong>,
                        tout en
                        optimisant ta stratégie pour rester pertinent.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/management/communication2.webp') }}" alt="Groupes et Artistes"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Ensemble, On Fait Résonner Ta Musique</h2>

        <p class="text-justify small">
            Une <strong>communication efficace</strong> est la clé pour bâtir une <strong>relation solide</strong> avec
            ton <strong>public</strong>. Avec <strong>BSS</strong>, tu as à disposition une équipe dédiée qui s’occupe
            de toute ta <strong>stratégie de communication</strong>. Ensemble, nous faisons briller ta
            <strong>musique</strong> et atteignons de nouveaux <strong>sommets</strong>&nbsp;!
        </p>
        <p>
            <a href="#" class="app-button cta">
                Rejoins BSS et améliore ta communication&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
