// COLORS
$black: #222222;
$white: #ffffff;
$primary: #650f3c;
$secondary: #575756;
$third: #dcd393;
$info: #3a7ca5;
$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d9534f;

// FONTS
$font-primary: "Cormorant Garamond", serif;
$font-secondary: "Roboto", sans-serif;
