.app-btn {
  @include displayFlex(center, center);
  padding: 0.5rem 1rem;
  font-family: $font-secondary;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary;
  background-color: $third;
  border: none;
  border-radius: 0.25rem;
  @extend .box-shadow;
  cursor: pointer;

  &.cta {
    padding: 1rem;
    font-size: 1.5rem;
    color: $white;
    background-color: $primary;
  }

  i,
  svg {
    margin-right: 0.25rem;
  }
}
