.app-card {
  overflow: hidden;
  @include displayFlex(space-between, center, null, column);
  background-color: rgba($third, 0.25);
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba($black, 0.5);
  transition: all 0.4s;

  &:hover {
    box-shadow: 0.5rem 0.5rem 0.75rem rgba($black, 0.5);
  }

  & > a {
    width: 100%;
    color: inherit;
  }

  .card-header {
    width: 100%;

    img {
      width: 100%;

      @include respondTo(md) {
        height: 40dvh;
        object-fit: cover;
      }
    }

    &.contain {
      img {
        margin: 1.5rem;
        width: calc(100% - 3rem);

        @include respondTo(md) {
          margin: 1.5rem;
          width: calc(100% - 3rem);
          height: 30dvh;
          object-fit: contain;
          border-radius: 0.25rem;
        }
      }
    }
  }

  .card-body {
    width: calc(100% - 2rem);
    padding: 1rem;
    text-align: center;

    .card-title,
    .card-subtitle {
      margin-bottom: 0.5rem;
      font-size: 1.75rem;
      font-weight: bold;
      text-align: center;
    }

    .card-subtitle {
      font-size: 1.5rem;
    }

    .card-text {
      padding: 0.5rem;
      background-color: rgba($third, 0.15);
      border-radius: 0.25rem;
    }
  }

  .card-footer {
    @include displayFlex(center, null);
    gap: 0;
    width: 100%;
    background-color: $third;

    a {
      @include displayFlex(center, center);
      flex: 1;
      height: calc(100% - 1rem);
      padding: 0.5rem;

      &:hover {
        background-color: $secondary;

        .app-icon {
          color: $white !important;
        }
      }
    }
  }
}
