.app-card {
  justify-content: space-between !important;
  padding: 1rem 1rem 0.5rem;
  text-align: center;
  background-color: $white !important;

  .card-header,
  .card-body {
    width: 100%;
  }

  figure {
    position: relative;

    .card-actions {
      position: absolute;
      z-index: 10;
      top: 1rem;
      right: 0.5rem;
      height: calc(100% - 2rem);
      @include displayFlex(space-between, center, 1rem, column);

      a {
        padding: 0.5rem;

        .icon {
          width: 1.5rem;
        }
      }
    }

    .card-image {
      display: block;
      margin-bottom: 0.5rem;
      height: 25dvh !important;
      object-fit: contain !important;
      border-radius: 0.25rem;
    }

    .card-icon {
      position: absolute;
      z-index: 9;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }

  .card-title {
    margin-bottom: 0.5rem;
  }

  .content {
    grid-gap: 0;
    padding: 0 !important;
    background-color: $third !important;
    border-radius: 0.25rem;

    p {
      padding: 0.5rem !important;
      margin-bottom: 0;
    }
  }

  .description {
    font-size: 1rem;
    text-align: left;
  }
}
