.app-image {
  img {
    display: block;
    width: 100%;
    box-shadow: 0 0.25rem 0.5rem rgba($black, 0.5);

    @include respondTo(md) {
      height: 40dvh;
      object-fit: cover;
    }
  }

  &.large {
    img {
      @include respondTo(md) {
        height: 50dvh;
      }
    }
  }
}

.contain {
  height: auto !important;
  object-fit: contain !important;
}
