.app-text {
  @include displayFlex(space-between, null, null, column);

  .content {
    padding: 1.5rem;
    height: calc(100% - 3rem);
    background-color: rgba($third, 0.15);
    border-radius: 0.25rem;
  }

  p {
    text-align: justify;
  }

  &.info {
    @include displayFlex(null, center, 1.5rem);
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: rgba($third, 0.25);
    border-radius: 0.25rem;

    @include respondTo(md) {
      flex-direction: row;
      padding: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }

    .icon {
      width: 100%;
      text-align: center;

      @include respondTo(md) {
        width: 10dvw;
      }

      .app-icon {
        display: block;
        margin: 0 auto;

        &.text-warning {
          width: 6rem;
        }
      }
    }

    p {
      flex: 1;

      a {
        color: $primary;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
