.app-grid {
  @include displayGrid(1fr, 0.5rem);
  background-color: $primary;

  &.two {
    @include respondTo(md) {
      @include displayGrid(repeat(2, 1fr));
    }
  }

  &.three {
    @include respondTo(md) {
      @include displayGrid(repeat(3, 1fr));
    }
  }

  &.four {
    @include respondTo(md) {
      @include displayGrid(repeat(4, 1fr));
    }
  }

  &.third-reverse {
    @include displayGrid(9fr 1fr);
  }

  &:has(.app-card) {
    padding: 0.5rem 0;
  }

  .grid-item {
    @include displayFlex(center, null, null, column);

    .status {
      margin-top: 1rem;
    }

    .actions {
      @include displayFlex(center, null, 1rem);
    }
  }
}
