.app-header {
  height: 20dvh;

  @include respondTo(md) {
    height: 28dvh;
  }

  &:has(.bg-image) {
    position: relative;

    .bg-image {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.top {
    @include respondTo(md) {
      .app-logo {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9998;

        img {
          margin-left: 0.5rem;
          height: 12dvh;
          transform: rotate(360deg);
        }
      }
    }
  }

  .app-logo {
    display: inline-block;

    img {
      height: 20dvh;
      filter: drop-shadow(0 0.25rem 0.5rem rgba($black, 0.5));
      transition: all 0.5s;
    }

    /*&:active,
    &:hover {
      img {
        rotate: 360deg;
      }
    }*/
  }
}
