{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Les prestations - Clips musicaux{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Les clips et les teasers</h1>
            <p>Les prestations vidéo de BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Des clips qui boostent ta carrière</h2>

        <p class="text-justify small">
            Chez <strong>Bastard Sound System</strong>, nous savons que la création d’un <strong>clip
                                                                                                 musical</strong>
            est cruciale pour promouvoir ta <strong>musique</strong> et marquer les esprits. Nos <strong>partenaires
                                                                                                         vidéastes</strong>
            sont spécialisés dans la réalisation de clips qui capturent ton <strong>univers artistique</strong>,
            tout en
            maximisant l’impact visuel. Que tu aies besoin d’une vidéo pour un <strong>single</strong> ou pour
            promouvoir ton
            <strong>album</strong>, nous travaillons avec toi pour créer un clip percutant et professionnel qui
            saura captiver ton <strong>public</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/technics/capture/clip1.webp') }}" alt="Équipement vidéo professionnel"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Réalisation et Post-Production</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des Captations Vidéo de Qualité</h3>
                    <p>
                        Nos <strong>partenaires vidéastes</strong> utilisent du matériel de pointe pour réaliser des
                        <strong>clips</strong> qui mettent en valeur ta <strong>musique</strong>. Chaque prise de
                        vue est pensée pour
                        refléter l’esthétique unique de ton projet, avec une attention particulière portée à la
                        qualité
                        d’image et au <strong>son</strong>. Ces clips peuvent être utilisés pour la
                        <strong>promotion</strong>,
                        les <strong>réseaux sociaux</strong>, ou encore pour accompagner une sortie
                        d’<strong>album</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Un Montage Vidéo Soigné</h3>
                    <p>
                        En post-production, nos <strong>partenaires</strong> se chargent de monter les vidéos avec
                        un soin
                        extrême&nbsp;: <strong>montage</strong>, colorimétrie, effets visuels et synchronisation
                        avec le
                        <strong>son</strong> sont réalisés pour un rendu professionnel et percutant. Ce processus
                        garantit que
                        chaque <strong>clip</strong> soit prêt à être diffusé sur toutes les plateformes, que ce
                        soit pour
                        tes <strong>réseaux</strong> ou en <strong>streaming</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/technics/capture/clip2.webp') }}" alt="Vidéastes en plein tournage"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Fais Décoller Ta Carrière en Vidéo</h2>

        <p class="text-justify small">
            Un <strong>clip musical</strong> bien réalisé peut faire toute la différence pour attirer l’attention
            sur
            ta <strong>musique</strong>. Avec <strong>BSS</strong>, travaille avec nos <strong>partenaires
                                                                                               vidéastes</strong>
            pour créer des clips de qualité professionnelle qui captiveront ton <strong>public</strong> et
            marqueront les esprits.
        </p>

        <p>
            <a href="#" class="app-button cta">
                Crée ton prochain clip avec BSS&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
