{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Les prestations - Photos live{% endblock %}
{% block meta_description %}Immortalisez vos performances live avec les photographes partenaires de Bastard Sound System. Des clichés professionnels pour capturer chaque moment clé de vos concerts et partager l'énergie de la scène.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Les photos de concert</h1>
            <p>Les prestations live de BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Immortalise tes moments sur scène avec nos partenaires photographes</h2>

        <p class="text-justify small">
            Un <strong>concert</strong> est bien plus qu’une simple performance, c’est une
            <strong>expérience visuelle</strong> unique. Chez <strong>Bastard Sound System</strong>, nous collaborons
            avec des <strong>photographes partenaires</strong> spécialisés dans la <strong>photo de concert</strong>,
            pour capturer chaque instant clé de ta performance live. Que ce soit l’intensité d’un solo, l’énergie du
            public, ou un moment de complicité avec ton groupe, nos
            <strong>partenaires</strong> photographes savent immortaliser l’<strong>essence visuelle</strong> de chaque
            <strong>performance live</strong> avec précision et créativité.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/technics/capture/photos1.webp') }}" alt="Photos de concert"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Des pros, je te dis&nbsp;!</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des photos de qualité professionnelle</h3>
                    <p>
                        Nos <strong>photographes partenaires</strong> ne se contentent pas de prendre des clichés, ils
                        racontent une
                        <strong>histoire visuelle</strong> de ton <strong>concert</strong>. Ils savent capturer les
                        moments
                        intenses
                        et les émotions qui transforment une simple performance en une expérience mémorable. Que tu
                        souhaites utiliser ces <strong>photos</strong> pour ton <strong>portfolio</strong>, tes
                        <strong>réseaux sociaux</strong>, ou pour promouvoir tes futurs <strong>événements</strong>,
                        nous
                        veillons à
                        ce que chaque cliché reflète l’intensité et la beauté de ta <strong>musique</strong> sur scène.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Une qualité visuelle assurée</h3>
                    <p>
                        Chez <strong>BSS</strong>, nous savons que chaque image compte. C’est pourquoi nous travaillons
                        exclusivement avec des <strong>photographes partenaires</strong> expérimentés, équipés de
                        <strong>matériel de haute qualité</strong>, pour garantir un rendu visuel exceptionnel, même
                        dans
                        les
                        conditions lumineuses les plus difficiles. Nos <strong>partenaires photographes</strong>
                        veillent à
                        ce que chaque image soit travaillée avec
                        soin, pour
                        offrir un résultat final professionnel qui met en valeur ton <strong>univers musical</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/technics/capture/photos2.webp') }}" alt="Photographes professionnels"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            La <strong>photo live</strong> est un moyen puissant de faire vivre tes concerts bien au-delà de la scène.
            Avec <strong>BSS</strong> et nos <strong>partenaires photographes</strong>, immortalise les moments forts de
            tes <strong>performances live</strong> et partage-les avec ton <strong>public</strong> et les
            <strong>professionnels</strong>.
        </p>

        <p>
            <a href="" class="app-button cta">
                Découvre nos partenaires photographes&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
