{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Les prestations - Vidéos live{% endblock %}
{% block meta_description %}Immortalisez vos concerts et performances avec des vidéos professionnelles capturées par nos partenaires vidéastes chez Bastard Sound System. Un rendu de qualité pour partager votre énergie avec votre public.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Les vidéos de concert</h1>
            <p>Les prestations live de BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Des vidéos prises par nos partenaires vidéastes</h2>

        <p class="text-justify small">
            Chez <strong>Bastard Sound System</strong>, nous savons qu’une <strong>performance live</strong> ne se vit
            pas uniquement sur scène, mais aussi à travers des <strong>vidéos professionnelles</strong> qui capturent
            toute l'intensité du moment. Pour cela, nous faisons appel à nos <strong>partenaires vidéastes</strong>
            spécialisés dans la captation de <strong>concerts</strong> et la réalisation de
            <strong>clips musicaux</strong>. Que tu souhaites immortaliser un concert ou réaliser un clip pour
            promouvoir ta musique, nos
            <strong>partenaires</strong> sont là pour offrir un rendu visuel de qualité, fidèle à ton
            <strong>univers artistique</strong> et capable de capter l’attention de ton <strong>public</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/technics/capture/videos1.webp') }}" alt="Vidéos de concert"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Et la vie continue même après le concert</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des Captations Vidéo de Concerts de Qualité</h3>
                    <p>
                        Nos <strong>partenaires vidéastes</strong> utilisent un matériel de pointe pour capturer chaque
                        moment de
                        tes <strong>performances live</strong>. Que tu joues dans une petite salle ou sur une grande
                        scène,
                        ils
                        s’assurent que chaque détail, chaque interaction avec le <strong>public</strong> et chaque note
                        jouée soit
                        immortalisée en vidéo, avec une <strong>qualité d’image</strong> et de <strong>son</strong>
                        exceptionnelle. Ces captations permettent de revivre l’énergie de tes concerts, et peuvent être
                        utilisées pour créer
                        des
                        <strong>contenus promotionnels</strong>, partager avec tes <strong>fans</strong> ou pour
                        construire
                        ton
                        <strong>portfolio</strong> en tant qu'artiste.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Post-Production et Montage Vidéo</h3>
                    <p>
                        La <strong>post-production</strong> est une étape essentielle pour sublimer chaque captation
                        vidéo.
                        Nos
                        <strong>partenaires vidéastes</strong> s’assurent que chaque vidéo, que ce soit un clip ou une
                        captation de
                        concert, soit montée avec soin pour un rendu final de haute qualité. Cela inclut le montage, la
                        colorimétrie, et la synchronisation avec la musique pour garantir une <strong>vidéo</strong>
                        professionnelle
                        prête à être diffusée sur tes <strong>réseaux</strong> ou plateformes de
                        <strong>streaming</strong>.
                        Grâce à cet accompagnement complet, tu bénéficies d’un produit fini qui saura capter l’attention
                        de
                        ton
                        <strong>public</strong> et t'aider à promouvoir ta carrière.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/technics/capture/videos2.webp') }}" alt="Vidéastes professionnels"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Les <strong>vidéos</strong> et <strong>clips</strong> sont des outils puissants pour faire connaître ta
            musique et partager ton art avec le monde. Avec <strong>BSS</strong> et nos
            <strong>partenaires vidéastes</strong>, capture et crée des vidéos percutantes qui feront vibrer ton
            <strong>public</strong>.
        </p>

        <p>
            <a href="#" class="app-button cta">
                Découvre nos partenaires vidéastes&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
