{% extends '@Partenaire/index.html.twig' %}

{% block title %}Partenaire Home{% endblock %}

{% block main %}
    <h1>Welcome to the Partenaire zone of Bastard Sound System</h1>
    <p>This is the home page for our Partenaire domain.</p>
    <p>
        {{ app.user.fullname }}
        -
        {{ app.user.partenaireType }}
        -
        {{ app.user.companyName }}
        -
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    </p>
{% endblock %}
