{% extends 'back_office/_layout.html.twig' %}

{% block title %}Ajouter un Adhérent{% endblock %}
{% block meta_description %}{% endblock %}
{% block body_class %}backoffice form{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Ajouter un Adhérent</h1>
    </section>

    <section class="app-section form">
        {% include 'back_office/crew/member/_form.html.twig' with {'user': 'member'} %}
    </section>
{% endblock %}
