<footer class="app-footer">
    <p class="copyrights">
        &copy; {{ 'now' | date('Y') }} Bastard Sound System. Tous droits réservés.
    </p>

    <p class="links">
        <a href="mentions-legales.html">Mentions légales</a>
        •
        <a href="politique-de-confidentialite.html">Politique de confidentialité</a>
    </p>
</footer>
