<header class="app-header" data-controller="frontoffice--header">
    <a href="{{ path('front_office_index') }}" class="app-logo">
        <img src="{{ asset('img/logo.png') }}" alt="Bastard Sound System"/>
    </a>
</header>
