{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Le partenariat - Co-organisation{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Organisons ensemble&nbsp;!</h1>
            <p>Le partenariat avec BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Organise tes événements avec BSS</h2>

        <p class="text-justify small">
            Chez <strong>Bastard Sound System</strong>, nous croyons que la réussite d’un événement repose sur une
            <strong>collaboration</strong> solide. C’est pourquoi nous proposons des services de
            <strong>co-organisation</strong> pour les <strong>concerts</strong>, <strong>festivals</strong> et autres
            <strong>événements musicaux</strong>. En tant que partenaire expérimenté, nous mettons à disposition notre
            savoir-faire pour assurer le succès de ton <strong>événement</strong>, que ce soit dans la
            <strong>programmation artistique</strong>, la gestion technique, ou la <strong>communication</strong>. Avec
            <strong>BSS</strong>, tu bénéficies d’un véritable partenariat pour que chaque aspect de l’organisation
            soit pris en main, depuis la phase de conception jusqu’à la réalisation sur le terrain. Nous travaillons
            main dans la main avec toi pour que ton événement soit une réussite totale.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/production/collaboration/coorganization1.webp') }}" alt="Co-Organisation"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Ce qu'on apporte</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Programmation Artistique et Logistique</h3>
                    <p>
                        La <strong>programmation</strong> et la <strong>logistique</strong> d’un <strong>événement
                                                                                                         musical</strong>
                        sont des aspects cruciaux qui nécessitent une gestion experte. <strong>BSS</strong> t’accompagne
                        dans la
                        sélection des <strong>artistes</strong>, la négociation des <strong>cachets</strong>, et la mise
                        en
                        place de
                        la logistique (technique, <strong>backstage</strong>, accueil des <strong>artistes</strong> et
                        du
                        <strong>public</strong>). Que tu souhaites organiser un <strong>concert</strong>, un <strong>festival</strong>
                        ou tout autre
                        type
                        d’événement, notre équipe se charge de tout pour que tu puisses te concentrer sur l’aspect
                        artistique et
                        relationnel. Nous travaillons avec des partenaires fiables et des techniciens expérimentés pour
                        garantir une
                        organisation sans faille.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Communication et Promotion</h3>
                    <p>
                        La réussite d’un <strong>événement</strong> dépend aussi de sa <strong>visibilité</strong>. Chez
                        <strong>BSS</strong>, nous nous occupons de la <strong>promotion</strong> de ton événement, en
                        mettant en
                        place des <strong>campagnes de communication</strong> sur les <strong>réseaux sociaux</strong>,
                        auprès des
                        <strong>médias</strong> et dans les circuits spécialisés. Nous t’accompagnons également dans la
                        conception de <strong>visuels</strong> impactants (affiches,
                        flyers,
                        contenus digitaux) et dans la gestion des <strong>relations presse</strong>. Ensemble, nous nous
                        assurons
                        que ton <strong>événement</strong> bénéficie d’une couverture maximale et attire un
                        <strong>public</strong>
                        nombreux.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/production/collaboration/coorganization2.webp') }}" alt="Promotion et Communication"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Une Collaboration Gagnante</h2>

        <p class="text-justify small">
            Avec <strong>BSS</strong>, tu disposes d’un partenaire de confiance pour organiser des
            <strong>événements musicaux</strong> de qualité. Ensemble, nous prenons en charge les aspects techniques,
            logistiques et promotionnels pour que ton <strong>concert</strong> ou <strong>festival</strong> soit un
            véritable succès. Laisse-nous t’accompagner dans la <strong>co-organisation</strong> de ton prochain
            événement&nbsp;!
        </p>

        <p>
            <a href="" class="app-button cta">
                BSS co-organise ton prochain événement musical avec toi&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
