{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Le partenariat - Co-production{% endblock %}
{% block meta_description %}Co-produis tes événements musicaux avec Bastard Sound System : un partenariat solide pour partager ressources et expertise, et garantir des projets mémorables.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Produisons ensemble&nbsp;!</h1>
            <p>Le partenariat avec BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Co-produis tes projets avec Bastard Sound System</h2>

        <p class="text-justify small">
            La <strong>co-production</strong> est une manière de collaborer pour réaliser des projets ambitieux tout en
            partageant les ressources et l'expertise. Chez <strong>Bastard Sound System</strong>, nous proposons un
            service de <strong>co-production</strong> pour accompagner les <strong>artistes</strong> et les
            <strong>organisateurs</strong> dans la création de <strong>concerts</strong>, <strong>festivals</strong>, et
            autres événements musicaux. Avec <strong>BSS</strong>, tu as accès à un réseau d’experts, à des équipements
            de qualité et à une équipe
            dédiée qui travaille avec toi pour produire des <strong>événements</strong> qui marqueront les esprits.
            Ensemble, nous mettons en œuvre les moyens nécessaires pour garantir le succès de chaque projet.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/production/collaboration/coproduction1.webp') }}" alt="Co-production musicale"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Du gagnant / gagnant&nbsp;!</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Un Partenariat pour Réaliser Tes Ambitions</h3>
                    <p>
                        Chez <strong>BSS</strong>, la <strong>co-production</strong> est un véritable partenariat. Nous
                        investissons
                        du temps et des ressources pour que chaque projet que nous produisons ensemble soit un succès.
                        Cela
                        inclut
                        la <strong>gestion technique</strong>, la mise à disposition de <strong>matériel
                                                                                                professionnel</strong>
                        et
                        la coordination des <strong>équipes techniques</strong>. Nous t'accompagnons dans toutes les
                        phases
                        de production : de la conception à la réalisation, en
                        passant par
                        la <strong>logistique</strong> et la <strong>promotion</strong>. Notre objectif est de faire de
                        chaque
                        événement co-produit un moment unique et mémorable pour les <strong>artistes</strong> et le
                        <strong>public</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Partage des Ressources et Réseau d'Experts</h3>
                    <p>
                        En tant que <strong>partenaire de co-production</strong>, <strong>BSS</strong> te fait
                        bénéficier de
                        ses
                        <strong>ressources</strong> et de son <strong>réseau</strong> d'experts dans l'industrie
                        musicale.
                        Nous
                        collaborons avec des <strong>techniciens</strong>, <strong>artistes</strong>, et
                        <strong>professionnels</strong> pour t'offrir un accompagnement complet, qu’il s’agisse de
                        l’organisation
                        d’un <strong>concert</strong> ou d’un <strong>festival</strong>. Ensemble, nous partageons les
                        <strong>ressources</strong> et les compétences pour garantir un
                        résultat de
                        qualité, avec une organisation fluide et professionnelle.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/production/collaboration/coproduction2.webp') }}" alt="Réseau d'experts en production"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Travaillons Ensemble</h2>

        <p class="text-justify small">
            Avec <strong>BSS</strong>, la <strong>co-production</strong> devient un levier pour concrétiser tes projets
            les plus ambitieux. Nous travaillons main dans la main avec toi pour produire des événements inoubliables,
            où chaque détail est pris en charge. Ensemble, faisons résonner ta musique sur scène avec la qualité et
            l'impact qu'elle mérite.
        </p>

        <p>
            <a href="" class="app-button cta">
                BSS t’accompagne en co-production pour tes événements&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
