{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Contactons-nous{% endblock %}
{% block meta_description %}Contactez Bastard Sound System pour toutes vos questions sur la production, l'organisation d'événements, ou simplement pour discuter musique. Nous sommes là pour booster vos projets avec du son, de la tech et des collaborations passionnantes. Laissez-nous un message, on vous répond vite !{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Entrons en contact</h1>
            <p>Bastard Sound System te répondra vite</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Laisse un petit mot, ça fait plaisir&nbsp;!</h2>

        <div class="app-text info">
            <div class="icon">
                {{ ux_icon('fontisto:info', {'class': 'app-icon medium text-info'}) }}
            </div>
            <p class="text-justify small">
                Tu as des <strong>questions</strong> ? Envie de booster ton prochain <strong>gig</strong> ou de
                t'<strong>associer</strong> avec des pros ? Frappe à notre porte ! Que tu sois <strong>musicien</strong>
                en
                quête du son parfait, <strong>organisateur</strong> de festoches, ou juste curieux de capter nos vibes,
                lance-toi. On est là pour secouer ta <strong>scène</strong> avec du <strong>son</strong> et de la
                <strong>tech</strong> au top, gérer les <strong>backstages</strong> ou papoter de sessions de
                <strong>formation</strong>. Drop-nous un <strong>message</strong> avec les coordonnées qu'on te note en
                bas
                de chaque page, ou via le formulaire ci-dessous, et attends-toi à une réponse qui déchire, rapide et aux
                petits oignons. Chez <strong>Bastard Sound System</strong>, chaque question débouche sur de nouvelles
                <strong>aventures</strong> créatives et des collabs de feu !
            </p>
        </div>

        {% include 'front_office/contact/_form.html.twig' %}
    </section>
{% endblock %}
