{% extends '@FrontOffice/index.html.twig' %}

{% block title %}Côté Partenaire : Prestations & Régie{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Titre à trouver&nbsp;!</h1>
    </section>


{% endblock %}
