{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Un label associatif et indépendant{% endblock %}
{% block meta_description %}Rejoignez Bastard Sound System, un label associatif et indépendant qui soutient les artistes rock avec des services sur mesure, des événements qui claquent, et une mission claire : booster les talents et faire résonner la scène musicale.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Label associatif et indépendant</h1>
            <p>Amplifie ton talent et crée la légende</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Bienvenue chez Bastard Sound System&nbsp;!</h2>
        <p class="text-justify small">
            Ici, on fait les choses à notre manière. <strong>Bastard Sound System</strong>, c'est bien plus
            qu’un simple
            <strong>label</strong>. C'est une <strong>communauté</strong>, un <strong>mouvement</strong>, un
            endroit où
            chaque note de <strong>rock</strong> se transforme en un cri de ralliement. Si tu es un
            <strong>artiste</strong> qui cherche à défoncer les <strong>barrières</strong> et à faire entendre
            sa
            <strong>voix</strong>, tu es au bon endroit. Nous, chez <strong>BSS</strong>, on ne fait pas de promesses
            creuses. On
            <strong>vibre avec la musique</strong> et on offre aux <strong>artistes</strong> les moyens de
            propulser
            leur <strong>carrière</strong>. Pas question de te noyer dans l'<strong>administratif</strong> ou
            les
            galères de <strong>booking</strong>, on s’en occupe pour que tu te concentres sur l’essentiel :
            <strong>ta musique</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/about/about1.webp') }}" alt="On bosse pour les Groupes"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Notre Mission</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <p>
                        Chez <strong>BSS</strong>, on a une <strong>mission</strong> claire&nbsp;:
                        <strong>booster les artistes émergents</strong> qui en veulent. On est là pour tous ceux qui ont
                        du
                        <strong>talent</strong> à revendre, mais qui galèrent à se faire voir. Les <strong>portes du
                                                                                                           succès</strong>
                        ne doivent pas rester fermées aux petits nouveaux, et nous, on a bien l’intention de les faire
                        exploser pour
                        toi.
                    </p>
                </div>
            </div>
            <div class="grid-item app-text small">
                <div class="content">
                    <p>
                        Trouver des <strong>concerts</strong>, c’est souvent un chemin de croix pour les
                        <strong>groupes locaux</strong>. Les <strong>conditions de jeu</strong> sont parfois borderline,
                        et
                        le
                        <strong>cachet</strong>, on n’en parle même pas… Avec <strong>BSS</strong>, tout ça, c'est
                        terminé.
                        On te
                        garantit un <strong>environnement professionnel</strong> où tu peux te concentrer à 100% sur ce
                        que
                        tu fais
                        de mieux&nbsp;: <strong>jouer et créer</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="app-section">
        <h2>Pourquoi choisir BSS&nbsp;?</h2>
        <div class="app-grid three">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Un soutien sur mesure</h3>
                    <p>
                        Chaque <strong>artiste</strong> est unique, et on l'a bien compris. Que tu sois à la recherche
                        de
                        <strong>conseils en communication</strong> ou d’un coup de pouce pour structurer ta
                        <strong>carrière</strong>, on t’accompagne à chaque étape. Chez nous, pas de copier-coller, mais
                        du
                        <strong>personnalisé</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des événements qui dépotent</h3>
                    <p>
                        On organise des <strong>concerts</strong> et des <strong>événements</strong> qui claquent, pour
                        te mettre
                        sous les <strong>projecteurs</strong>. Ces moments sont l’occasion parfaite de rencontrer des
                        gens qui
                        comptent dans l' <strong>industrie musicale</strong> et de marquer les esprits.
                    </p>
                </div>
            </div>
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Une visibilité qui déchire</h3>
                    <p>
                        Être membre de <strong>BSS</strong>, c'est faire partie d’un
                        <strong>réseau</strong> qui attire
                        l’attention des <strong>organisateurs</strong> et des <strong>festivals</strong>.
                        On fait en
                        sorte que
                        ton nom résonne là où il le faut, pour te donner accès aux
                        <strong>opportunités</strong> qui
                        comptent
                        vraiment.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/about/about2.webp') }}" alt="Musiciens et Groupes"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Rejoins-Nous&nbsp;!</h2>
        <p class="text-justify small">
            Chez <strong>Bastard Sound System</strong>, on croit dur comme fer que la <strong>musique</strong> peut tout
            changer. Si tu veux transformer ta <strong>passion</strong> en une <strong>carrière</strong>, il est temps
            de faire équipe avec nous. Le moment est venu de prendre ton <strong>destin en main</strong> et de nous
            rejoindre pour que ta <strong>musique</strong> fasse vibrer bien au-delà des frontières.
        </p>
        <p>
            <a href="#" class="app-button cta">
                Découvre nos services et embarque avec BSS&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
