{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Le fonctionnement du label{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Le fonctionnement du label</h1>
            <p>Le label BSS</p>
        </div>
    </section>

    <section class="app-section">
        <h2>Comment ça marche chez Bastard Sound System&nbsp;?</h2>
        <p class="text-justify small">
            Le fonctionnement de <strong>Bastard Sound System</strong> repose sur une
            <strong>collaboration étroite</strong> entre notre <strong>équipe</strong> et les <strong>artistes</strong>
            que nous soutenons. Nous savons que chaque <strong>parcours artistique</strong> est unique, c’est pourquoi
            nous avons conçu un <strong>système flexible</strong> et <strong>adaptable</strong> pour répondre à tes
            <strong>besoins spécifiques</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/about/operation1.webp') }}" alt="Le fonctionnement"/>
    </figure>

    <section class="app-section post-figure">
        <h2>L'Adhésion</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <p>
                        Devenir membre de <strong>BSS</strong>, c’est rejoindre une <strong>communauté
                                                                                            dynamique</strong> de
                        <strong>musiciens</strong> et de <strong>créatifs</strong>. L'adhésion te permet d'accéder à une
                        <strong>multitude de services</strong> et d’<strong>opportunités</strong>. Une fois inscrit, tu
                        bénéficies
                        d’un <strong>accompagnement personnalisé</strong> qui t’aide à naviguer dans le
                        <strong>monde de la musique</strong>, que tu sois un <strong>groupe local</strong> ou un
                        <strong>artiste solo</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <p>
                        Nous croyons que chaque <strong>voix</strong> mérite d'être <strong>entendue</strong>. C’est
                        pourquoi notre
                        <strong>processus d’adhésion</strong> est <strong>simple</strong> et <strong>accessible</strong>,
                        afin que
                        tu puisses te concentrer sur l’essentiel : ta <strong>musique</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="app-section">
        <h2>Les Services Proposés</h2>

        <div class="app-grid three mb-1">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Management et Coaching</h3>
                    <p>
                        Notre <strong>équipe</strong> est là pour t’accompagner dans le développement de ta
                        <strong>carrière</strong>, te conseillant sur les meilleures <strong>pratiques</strong> et
                        <strong>stratégies</strong> à adopter.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Booking de Concerts</h3>
                    <p>
                        Nous nous occupons de la <strong>réservation</strong> de tes <strong>concerts</strong>, te
                        permettant
                        ainsi de te concentrer sur ta <strong>performance</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Production d’Événements</h3>
                    <p>
                        Que ce soit des <strong>concerts</strong>, des <strong>showcases</strong> ou des
                        <strong>festivals</strong>, nous organisons régulièrement des <strong>événements</strong>
                        pour
                        mettre en
                        avant nos <strong>artistes</strong>.
                    </p>
                </div>
            </div>
        </div>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Promotion et Visibilité</h3>
                    <p>
                        Chez <strong>BSS</strong>, nous comprenons l'importance de la <strong>visibilité</strong> dans
                        l’industrie
                        <strong>musicale</strong>. En étant membre, tu fais partie d'un <strong>catalogue</strong> qui
                        attire
                        l’attention des <strong>organisateurs de concerts</strong> et de <strong>festivals</strong>.
                        Nous
                        travaillons dur pour que ton <strong>talent</strong> soit mis en avant à travers diverses
                        <strong>promotions</strong>, notamment sur nos <strong>réseaux sociaux</strong> et lors
                        d'<strong>événements</strong>. Nous t’offrons également des <strong>ressources</strong> pour
                        améliorer ta
                        <strong>présence en ligne</strong> et t’aider à développer une <strong>image de marque</strong>
                        forte.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Réseau de Partenaires</h3>
                    <p>
                        Un autre aspect essentiel de notre <strong>fonctionnement</strong> est notre
                        <strong>réseau de partenaires</strong>. En tant que membre, tu auras l'opportunité de
                        <strong>collaborer</strong> avec d'autres <strong>artistes</strong>,
                        <strong>studios d'enregistrement</strong>, et <strong>professionnels</strong> de l'industrie.
                        Nous
                        croyons
                        que le <strong>partage</strong> et la <strong>collaboration</strong> sont la clé du
                        <strong>succès</strong>
                        dans le monde de la <strong>musique</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/about/operation2.webp') }}" alt="En étapes"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-nous Ensemble</h2>

        <p class="text-justify small">
            Le <strong>fonctionnement</strong> de <strong>BSS</strong> est conçu pour te soutenir à chaque
            <strong>étape</strong> de ton <strong>parcours musical</strong>. Nous sommes là pour t’accompagner, te
            conseiller et te donner les <strong>outils nécessaires</strong> pour que ta <strong>musique</strong>
            résonne.
        </p>
        <p>
            <a href="#" class="app-button cta">
                Rejoins-nous et découvre toutes les possibilités qui t’attendent avec BSS&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
