{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La production musicale - mastering professionnel{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Le mastering avec nos partenaires</h1>
            <p>La production musicale chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Un mastering pro pour sublimer ton son</h2>

        <p class="text-justify small">
            Le <strong>mastering</strong> est l'étape ultime pour finaliser et sublimer ton <strong>album</strong>, afin
            de garantir une qualité sonore irréprochable sur toutes les plateformes. Chez
            <strong>Bastard Sound System</strong>, nous collaborons avec des <strong>studios partenaires</strong> qui
            partagent notre exigence de perfection. Que tu souhaites sortir un <strong>album complet</strong>, un
            <strong>EP</strong> ou un <strong>single</strong>, nos partenaires prennent en charge le mastering pour que
            ton <strong>son</strong> brille sous toutes ses facettes. Nos <strong>ingénieurs du son</strong> travaillent
            sur la clarté, la puissance et l’équilibre des pistes
            pour assurer un rendu optimal, quelle que soit la configuration d’écoute (écouteurs, enceinte, etc.). Avec
            <strong>BSS</strong>, ton <strong>projet musical</strong> bénéficie d'une finition professionnelle, pour
            garantir à ton public une expérience sonore de premier choix.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/production/music/mastering1.webp') }}" alt="Mastering professionnel"/>
    </figure>

    <section class="app-section post-figure">
        <h2>On laisse faire les spécialistes</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des Studios Partenaires de Confiance</h3>
                    <p>
                        Nous avons sélectionné des <strong>studios partenaires</strong> spécialisés dans le
                        <strong>mastering</strong>, qui maîtrisent chaque aspect technique pour adapter le rendu sonore
                        à
                        ton style
                        et à ta vision artistique. Nos studios partenaires sont équipés des meilleures technologies,
                        pour
                        que ton
                        <strong>album</strong> sorte avec une qualité sonore qui marque les esprits. Que ce soit pour du
                        <strong>rock</strong>, de l'<strong>électro</strong>, ou toute autre forme de
                        <strong>musique</strong>, nous nous assurons que chaque note résonne parfaitement, en studio
                        comme
                        en live.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Un Son Sur Mesure pour Ton Public</h3>
                    <p>
                        Avec <strong>nos ingés son</strong>, nous veillons à ce que chaque étape du
                        <strong>mastering</strong>
                        soit
                        adaptée à
                        ton public et aux plateformes sur lesquelles tu souhaites diffuser ta <strong>musique</strong>
                        (streaming,
                        vinyle, CD). Grâce à notre expertise et à nos <strong>partenaires de confiance</strong>, ton son
                        ne
                        laissera
                        personne indifférent. Ensemble, faisons de ton <strong>album</strong> une pièce sonore unique et
                        mémorable, prête à être
                        diffusée
                        au monde entier.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/production/music/mastering2.webp') }}" alt="Studios partenaires"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            En collaborant avec <strong>BSS</strong> et nos studios partenaires, tu t'assures un
            <strong>mastering professionnel</strong> qui mettra en valeur chaque nuance de ta <strong>musique</strong>.
            Prêt à sublimer ton <strong>album</strong> ? Ensemble, faisons en sorte que chaque morceau brille d'une
            qualité sonore exceptionnelle.
        </p>

        <p>
            <a href="{{ path('app_front_office_partner_home') }}" class="app-button cta">
                Découvre nos partenaires&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
