{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La production musicale - enregistrement studio{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Enregistrement dans nos studios partenaires</h1>
            <p>La production musicale chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Un enregistrement studio à la hauteur de tes ambitions</h2>

        <p class="text-justify small">
            Enregistrer en <strong>studio</strong> est une étape cruciale dans la carrière d’un <strong>artiste</strong>,
            et chez
            <strong>Bastard Sound System</strong>, nous faisons en sorte que chaque <strong>session en studio</strong>
            soit une
            expérience inoubliable. Nous te proposons un accompagnement personnalisé pour t'aider à capturer ton
            <strong>son</strong> dans des <strong>conditions professionnelles</strong> optimales. Que ce soit pour un
            <strong>album</strong>, un <strong>EP</strong>, ou même un <strong>single</strong>, nous mettons à ta
            disposition des studios équipés des meilleurs <strong>matériels audio</strong> et l’expertise de
            <strong>techniciens du son</strong> expérimentés. Laisse-nous t'accompagner dans chaque étape de
            l’<strong>enregistrement</strong> pour que ton <strong>son studio</strong>
            soit fidèle à ta vision artistique, tout en ayant la puissance et la clarté nécessaires pour séduire ton
            <strong>public</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/production/music/recording_studio1.webp') }}" alt="Enregistrement studio"/>
    </figure>

    <section class="app-section post-figure">
        <h2>On s'y met tous ensemble</h2>

        <div class="app-grid three">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Des studios partenaires tout équipés</h3>
                    <p>
                        Nos <strong>studios partenaires</strong> sont dotés de tout ce dont tu as besoin pour une
                        session
                        réussie :
                        des <strong>cabines insonorisées</strong>, des <strong>instruments professionnels</strong>, et
                        des
                        <strong>outils de production</strong> de pointe. Nous nous adaptons à ton <strong>univers
                                                                                                          musical</strong>
                        pour offrir un <strong>environnement</strong> de travail qui te permette de donner le meilleur
                        de
                        toi-même. Que tu sois un artiste solo ou avec ton groupe, nous mettons en place tous les moyens
                        nécessaires pour que chaque piste que tu enregistres soit capturée avec une précision et une
                        clarté
                        exceptionnelles. Chez
                        <strong>BSS</strong>, chaque détail compte.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Accompagnement Technique et Artistique</h3>
                    <p>
                        En plus de fournir un équipement haut de gamme, nous t’offrons l'accompagnement de
                        <strong>techniciens</strong> et d’<strong>ingénieurs du son</strong> qui sont là pour sublimer
                        ton
                        <strong>son</strong>. Ils t'aident à ajuster chaque détail technique pour que
                        l’<strong>enregistrement</strong> soit à la hauteur de tes attentes. Nous sommes également là
                        pour t’accompagner artistiquement si tu en as besoin. Que ce soit dans le
                        choix
                        des
                        arrangements, des <strong>prises de son</strong> ou du <strong>mixage</strong>, notre équipe
                        travaille
                        main
                        dans la main avec toi pour garantir un résultat qui reflète ta vision et ton
                        <strong>univers musical</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Mixage et Mastering</h3>
                    <p>
                        Une fois l'enregistrement terminé, notre équipe se charge du <strong>mixage</strong> et du
                        <strong>mastering</strong> pour obtenir un rendu final professionnel, adapté aux standards de
                        l’industrie.
                        Chaque piste est optimisée pour garantir une qualité sonore exceptionnelle, que ce soit pour un
                        <strong>album</strong>, un <strong>EP</strong>, ou un <strong>single</strong>. Nous faisons en
                        sorte
                        que ton <strong>enregistrement studio</strong> ait l'impact nécessaire pour
                        conquérir
                        ton <strong>public</strong> et séduire les <strong>médias</strong> et les
                        <strong>professionnels</strong> de
                        l'industrie.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/production/music/recording_studio2.webp') }}" alt="Mixage et mastering"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Chez <strong>BSS</strong>, nous ne nous contentons pas d’enregistrer ta musique, nous faisons en sorte que
            chaque moment passé en studio soit un moment créatif et professionnel. Ensemble, faisons de tes sessions en
            studio une expérience qui propulsera ta <strong>carrière musicale</strong> au niveau supérieur.
        </p>

        <p>
            <a href="" class="app-button cta">
                BSS t’accompagne dans l’enregistrement studio de tes créations&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
