{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La production musicale - enregistrement live{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Enregistrement live</h1>
            <p>La production musicale chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Capture l’énergie de tes performances live</h2>

        <p class="text-justify small">
            L'adrénaline, l'énergie brute, et l’instant présent, rien ne vaut un <strong>enregistrement live</strong>
            pour capturer la magie de tes <strong>performances sur scène</strong>. Chez
            <strong>Bastard Sound System</strong>, nous mettons notre expertise au service des <strong>artistes</strong>
            pour enregistrer des <strong>performances live</strong> de qualité professionnelle. Que ce soit lors d’un
            <strong>concert</strong>, d’un <strong>festival</strong>, ou d’une <strong>session spéciale</strong>, notre
            équipe est là pour s’assurer que chaque note, chaque vibration, et chaque moment soit gravé avec une qualité
            sonore optimale. Nous travaillons avec des <strong>techniciens de son</strong> expérimentés et utilisons du
            <strong>matériel de pointe</strong> pour capter le <strong>son</strong> dans toute son authenticité. Tu veux
            faire revivre ton meilleur concert ? Nous te fournissons un <strong>enregistrement</strong> qui retranscrit
            toute l’intensité de ton show.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/production/music/recording_live1.webp') }}" alt="Enregistrement live"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Tout est compris&nbsp;!</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Enregistrement Mobile et Flexible</h3>
                    <p>
                        Grâce à nos équipements mobiles, <strong>BSS</strong> est capable d’enregistrer des performances
                        dans tout
                        type d’environnement : <strong>salles de concert</strong>, <strong>festivals</strong>, ou lieux
                        plus
                        intimistes. Peu importe où tu joues, nous nous adaptons aux spécificités de chaque lieu pour
                        garantir un
                        <strong>enregistrement live</strong> de haute qualité. Que ce soit pour un <strong>live en
                                                                                                           petite
                                                                                                           salle</strong>
                        ou
                        un grand <strong>festival</strong>,
                        notre
                        équipe assure une <strong>captation</strong> professionnelle qui respecte ton
                        <strong>univers sonore</strong>. Chaque <strong>live</strong> devient une pièce unique à
                        immortaliser pour
                        ton <strong>public</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Mixage et Mastering Professionnel</h3>
                    <p>
                        Après l'enregistrement, notre travail ne s’arrête pas là. Nous prenons en charge le
                        <strong>mixage</strong>
                        et le <strong>mastering</strong> de tes <strong>performances live</strong> pour un rendu final
                        qui
                        respecte
                        ton <strong>son</strong> et ta vision artistique. Notre équipe d’ingénieurs du son s’assure que
                        chaque piste
                        soit optimisée pour une qualité exceptionnelle. Que tu souhaites diffuser cet <strong>enregistrement
                                                                                                              live</strong>
                        sur des
                        <strong>plateformes de streaming</strong> ou en faire un <strong>album</strong>, nous
                        t’accompagnons
                        dans
                        chaque étape pour que le résultat soit à la hauteur de tes attentes.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/production/music/recording_live2.webp') }}" alt="Mixage et mastering"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Avec <strong>BSS</strong>, chaque <strong>concert</strong> que tu donnes peut être immortalisé grâce à un
            <strong>enregistrement live</strong> professionnel. Ensemble, faisons en sorte que chaque moment passé sur
            scène reste gravé à jamais dans les mémoires, pour toi et ton <strong>public</strong>.
        </p>

        <p>
            <a href="" class="app-button cta">
                BSS capture tes performances live&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
