{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Les prestations techniques - Régie technique{% endblock %}
{% block meta_description %}Confiez la régie technique de vos événements à Bastard Sound System. Une équipe expérimentée gère sonorisation, éclairage et vidéo avec un matériel de pointe, pour des concerts et festivals parfaitement orchestrés.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>La régie technique</h1>
            <p>Les prestations techniques de BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Un contrôle technique au poil</h2>

        <p class="text-justify small">
            La <strong>régie technique</strong> est le cœur battant de tout <strong>événement live</strong>. Chez
            <strong>Bastard Sound System</strong>, nous t’offrons une gestion technique de A à Z, pour que chaque
            <strong>concert</strong>, <strong>festival</strong> ou <strong>performance</strong> soit une réussite
            totale. Notre équipe de <strong>techniciens</strong> expérimentés est là pour superviser chaque aspect
            technique : <strong>sonorisation</strong>, <strong>éclairage</strong>, <strong>vidéo</strong>, et bien plus.
            Avec <strong>BSS</strong>, tu bénéficies d'une <strong>régie technique</strong> parfaitement orchestrée, où
            chaque détail est pris en compte pour offrir une <strong>expérience live</strong> inoubliable, tant pour toi
            que pour ton <strong>public</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/technics/live/management1.webp') }}" alt="Régie Technique"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Comme des pilotes de ligne</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Pilotage Complet pour Tous les Aspects Techniques</h3>
                    <p>
                        De la gestion des <strong>équipements</strong> à la coordination des <strong>équipes
                                                                                                     techniques</strong>,
                        <strong>BSS</strong> prend en charge tous les éléments de la <strong>régie technique</strong>
                        pour
                        que tu
                        puisses te concentrer sur ta performance. Nous assurons la <strong>planification
                                                                                           technique</strong>,
                        la
                        préparation du <strong>matériel</strong>, et la supervision de l'entièreté des systèmes sur
                        place :
                        <strong>audio</strong>, <strong>lumières</strong>, et <strong>vidéos</strong>. Notre expertise
                        permet de gérer tous types d’événements, qu’il s’agisse de <strong>petits
                                                                                           concerts</strong>
                        ou de <strong>grands festivals</strong>, avec la même attention aux détails. Chaque aspect de la
                        <strong>régie technique</strong> est planifié et géré par nos équipes pour garantir une
                        <strong>qualité optimale</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Techniciens Qualifiés et Matériel de Qualité</h3>
                    <p>
                        Chez <strong>BSS</strong>, nous mettons à ta disposition des <strong>techniciens
                                                                                             expérimentés</strong>,
                        capables de gérer les situations techniques les plus complexes. Notre équipe est formée pour
                        intervenir
                        rapidement et efficacement, avec un <strong>matériel technique</strong> de pointe pour assurer
                        un
                        <strong>son</strong>, un <strong>éclairage</strong>, et une <strong>vidéo</strong> de qualité
                        supérieure. Que tu aies besoin de solutions sur mesure pour une configuration spécifique ou
                        d’une
                        régie complète
                        pour un
                        <strong>événement live</strong> de grande envergure, notre équipe saura s’adapter pour répondre
                        à
                        tes
                        attentes et offrir une <strong>expérience scénique</strong> irréprochable.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/technics/live/management2.webp') }}" alt="Régisseurs qualifiés"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            La <strong>régie technique</strong> est l’un des éléments clés qui détermine le succès d’un
            <strong>événement live</strong>. Avec <strong>BSS</strong> à tes côtés, tu bénéficies d’un soutien complet,
            d’une équipe expérimentée et de <strong>solutions techniques</strong> adaptées à chaque situation. Ensemble,
            faisons de ton prochain événement un succès technique et artistique.
        </p>

        <p>
            <a href="" class="app-button cta">
                BSS prend en charge la régie technique de ton événement&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
