{% extends '@FrontOffice/index.html.twig' %}

{% block title %}Contactons-nous{% endblock %}
{% block body_class %}frontoffice form{% endblock %}

{% block main %}
    <section class="app-section pagetitle">
        <h1>Contactons-nous&nbsp;!</h1>
    </section>


{% endblock %}
