{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La gestion de tes contrats et de tes assurances{% endblock %}
{% block meta_description %}Chez Bastard Sound System, nous gérons tes contrats et tes assurances pour que chaque prestation se déroule en toute sérénité. Sécurise ta musique, ton matériel et ton équipe avec BSS.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Tes contrats et tes assurances</h1>
            <p>Le booking chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>On s'occupe de tes contrats et de tes assurances</h2>

        <p class="text-justify small">
            La gestion des <strong>contrats</strong> et des <strong>assurances</strong> est essentielle pour garantir
            que tes <strong>prestations</strong> se déroulent dans des conditions optimales. Chez
            <strong>Bastard Sound System</strong>, nous prenons en charge toutes les formalités administratives, que ce
            soit pour la signature des <strong>contrats d’engagement</strong>, la <strong>cession de prestation</strong>
            ou encore la protection de ton <strong>matériel</strong> et de ton <strong>équipe</strong> lors des
            <strong>concerts</strong> ou des <strong>tournées</strong>. Avec <strong>BSS</strong>, tu joues en toute
            sérénité. Nous veillons à ce que chaque aspect juridique soit
            parfaitement couvert, pour que tu n’aies à te concentrer que sur ta <strong>musique</strong>.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/booking/contracts1.webp') }}" alt="Contrats et engagements"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Oublie la paperasse et perds ton stylo</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Contrat d’Engagement et Cession de Prestation</h3>
                    <p>
                        Chaque <strong>concert</strong> ou <strong>prestation</strong> repose sur des
                        <strong>contrats clairs</strong> et bien définis. Chez <strong>BSS</strong>, nous gérons la
                        rédaction, la
                        signature et le suivi de tous tes <strong>contrats d’engagement</strong> et de
                        <strong>cession de prestation</strong>. Cela inclut les engagements liés à la
                        <strong>rémunération</strong>,
                        aux <strong>conditions de jeu</strong>, et aux obligations des <strong>organisateurs</strong>.
                        Nous
                        nous assurons que chaque contrat protège tes <strong>droits</strong> et stipule clairement les
                        <strong>conditions</strong> de tes <strong>prestations</strong>, pour que tout se passe dans les
                        meilleures
                        conditions, sans surprise. Nos experts en <strong>gestion juridique</strong> veillent à chaque
                        détail pour
                        que tu sois toujours en conformité avec les <strong>réglementations</strong>.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Assurances Matériel et Personnes</h3>
                    <p>
                        Que ce soit ton <strong>matériel de scène</strong> ou ta <strong>personnel artistique</strong>,
                        <strong>BSS</strong> veille à ce que tout soit protégé. Nous prenons en charge la souscription
                        des
                        <strong>assurances</strong> nécessaires pour que ton <strong>équipement</strong> soit couvert
                        contre
                        les
                        dommages, pertes ou vols lors des <strong>concerts</strong> et <strong>tournées</strong>. Nous
                        veillons également à la sécurité de ton équipe, en souscrivant des <strong>assurances</strong>
                        pour les
                        <strong>personnes</strong> qui t'accompagnent : techniciens, musiciens, et tout autre membre de
                        ta
                        <strong>troupe</strong>. Cela inclut les <strong>accidents</strong>, les incidents sur scène, ou
                        encore les
                        éventuelles interruptions liées à des problèmes techniques ou personnels.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/booking/contracts2.webp') }}" alt="Assurances matériel et personnes"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Avec <strong>BSS</strong>, tu es couvert sur tous les fronts. De la gestion des <strong>contrats</strong> à
            la protection de ton <strong>matériel</strong> et de ton équipe, nous nous assurons que tu puisses monter
            sur scène en toute sérénité. Ensemble, nous faisons de tes <strong>prestations</strong> des événements
            sécurisés, professionnels et sans stress.
        </p>

        <p>
            <a href="" class="app-button cta">
                BSS gère tes contrats et les assurances pour que tu joues en toute tranquillité&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
