{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Le booking de tes concerts{% endblock %}
{% block meta_description %}Bastard Sound System s'occupe de trouver et organiser les meilleures opportunités de concerts pour toi. De la planification à la promotion, nous gérons tout pour des performances réussies.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>Tes dates de concerts</h1>
            <p>Le booking chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>On s'occupe de tes concerts</h2>

        <p class="text-justify small">
            Chez <strong>Bastard Sound System</strong>, on sait que la réussite d’un <strong>concert</strong> dépend
            d’une planification millimétrée. Non seulement nous nous occupons de chaque étape de l’organisation, mais
            nous trouvons aussi les meilleures <strong>opportunités de concerts</strong> pour toi. Avec
            <strong>BSS</strong>, tu n’as plus à chercher : on fait du <strong>booking</strong> pour que tu joues dans
            les <strong>salles</strong> qui correspondent à ton style et à ton <strong>public</strong>. De la gestion
            des <strong>dates</strong> à la négociation avec les <strong>salles de concert</strong>, nous
            nous assurons que tout soit parfaitement orchestré. Tu peux te concentrer sur ta <strong>musique</strong>,
            on s’occupe de tout le reste.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/booking/gig1.webp') }}" alt="Recherche de concerts"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Recherche, planification et promotion</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Coordination avec les Salles et Promoteurs</h3>
                    <p>
                        Une partie essentielle de la <strong>planification de concerts</strong> est la collaboration
                        avec
                        les
                        <strong>salles</strong> et les <strong>promoteurs</strong>. Chez <strong>BSS</strong>, nous
                        gérons
                        toutes
                        les discussions pour trouver les meilleures <strong>opportunités</strong> et organiser des
                        <strong>concerts</strong> adaptés à ton <strong>style musical</strong>. Nous avons un réseau de
                        <strong>contacts</strong> qui nous permet de placer nos artistes dans des événements de qualité.
                        Nous négocions avec les salles et nous gérons les aspects techniques et logistiques, comme le
                        matériel, les
                        <strong>horaires</strong> et les <strong>coulisses</strong>, pour que tout soit parfait le jour&nbsp;J.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Promotion de Ton Événement</h3>
                    <p>
                        Un <strong>concert</strong>, c’est bien plus que jouer sur scène, il faut aussi s’assurer que
                        ton
                        <strong>public</strong> soit au rendez-vous. <strong>BSS</strong> prend en charge la
                        <strong>promotion</strong> de l'événement en mobilisant nos ressources sur les
                        <strong>réseaux sociaux</strong>, en activant nos contacts avec les <strong>médias</strong> et
                        en
                        s'assurant
                        que ton concert bénéficie d’une couverture maximale. Nous veillons à ce que chaque <strong>concert</strong>
                        soit bien annoncé et mis en avant, pour
                        que
                        tu joues
                        devant une <strong>salle pleine</strong>. Notre équipe se charge également des supports
                        promotionnels, tels
                        que les <strong>affiches</strong>, les <strong>flyers</strong> et les <strong>campagnes en
                                                                                                      ligne</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/booking/gig2.webp') }}" alt="Planification de concerts"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Avec <strong>BSS</strong>, chaque <strong>concert</strong> que tu fais devient une expérience unique pour
            toi et ton <strong>public</strong>. Nous trouvons les <strong>opportunités</strong>, gérons la
            <strong>planification</strong> et assurons la <strong>promotion</strong>. Tout est maîtrisé pour que tu
            puisses te concentrer sur l’essentiel : <strong>faire vibrer la scène</strong> avec ta
            <strong>musique</strong>. Ensemble, créons des moments inoubliables&nbsp;!
        </p>

        <p>
            <a href="#" class="app-button cta">
                BSS gère la planification et le booking de tes concerts&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
