{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La logistique de tes tournées{% endblock %}
{% block meta_description %}Bastard Sound System gère la logistique de tes tournées : transport, hébergement et matériel. Une planification minutieuse pour des concerts réussis et sans stress.{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Sound System"/>

        <div class="content">
            <h1>La logistique de tes tournées</h1>
            <p>Le booking chez BSS</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>On gère toute la Logistique de tes tournées</h2>

        <p class="text-justify small">
            Préparer une <strong>tournée</strong> est une tâche complexe, mais avec
            <strong>Bastard Sound System</strong>, tu peux être certain que tout sera parfaitement orchestré. Nous
            prenons en charge chaque étape de la <strong>logistique</strong> pour que tu puisses te concentrer sur ta
            <strong>musique</strong>. Que ce soit la gestion des <strong>dates</strong>, des <strong>transports</strong>
            ou de l’<strong>hébergement</strong>, <strong>BSS</strong> s’occupe de tout pour que ta
            <strong>tournée</strong> se déroule sans accroc. Plus besoin de t’inquiéter des détails organisationnels,
            nous planifions chaque aspect de tes
            <strong>déplacements</strong>, pour que tu arrives à chaque <strong>concert</strong> dans les meilleures
            conditions. Notre équipe s'assure que tout soit bien synchronisé, pour que ta <strong>tournée</strong> soit
            une expérience inoubliable.
        </p>
    </section>

    <figure class="app-image">
        <img src="{{ asset('img/label/booking/tour1.webp') }}" alt="planification des tournées"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Tu peux partir tranquille</h2>

        <div class="app-grid two">
            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Transport et Hébergement</h3>
                    <p>
                        Les déplacements d’une <strong>tournée</strong> nécessitent une coordination millimétrée.
                        <strong>BSS</strong> organise tout : les <strong>transports</strong> entre les
                        <strong>villes</strong> où tu
                        joues, les <strong>hébergements</strong>, et même les besoins spécifiques comme la gestion des
                        <strong>instruments</strong> ou du <strong>matériel technique</strong>. Nous veillons à ce que
                        tout
                        soit
                        planifié à l’avance pour que tu n’aies qu’à te concentrer sur ta <strong>performance</strong>.
                        Nous travaillons avec des partenaires de confiance pour t’assurer des <strong>trajets
                                                                                                      confortables</strong>
                        et des <strong>hébergements</strong> adaptés. Tu arrives à chaque <strong>date</strong> reposé,
                        prêt
                        à faire
                        vibrer la scène.
                    </p>
                </div>
            </div>

            <div class="grid-item app-text small">
                <div class="content">
                    <h3>Coordination des Dates et Gestion du Matériel</h3>
                    <p>
                        La réussite d’une <strong>tournée</strong> repose aussi sur la coordination précise des
                        <strong>dates</strong> et la gestion du <strong>matériel</strong>. Chez <strong>BSS</strong>,
                        nous
                        assurons
                        une communication fluide avec chaque <strong>organisateur</strong> pour garantir que tout se
                        déroule
                        sans
                        accroc. Nous planifions les <strong>temps de trajet</strong>, les <strong>soundchecks</strong>
                        et
                        les
                        <strong>installations techniques</strong>, pour que chaque <strong>concert</strong> soit
                        techniquement
                        irréprochable. Nous prenons également en charge la gestion de ton <strong>équipement</strong>,
                        du transport des
                        <strong>instruments</strong> à l'installation du <strong>matériel technique</strong> sur chaque
                        <strong>lieu</strong>. Ta <strong>tournée</strong> devient une machine bien huilée, où chaque
                        détail
                        est
                        anticipé.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <figure class="app-image large">
        <img src="{{ asset('img/label/booking/tour2.webp') }}" alt="Logistique complète"/>
    </figure>

    <section class="app-section post-figure">
        <h2>Engageons-Nous Ensemble</h2>

        <p class="text-justify small">
            Avec <strong>BSS</strong> à tes côtés, la <strong>logistique</strong> de tes <strong>tournées</strong> est
            entre de bonnes mains. Nous gérons chaque détail pour que tu puisses te concentrer sur ce qui compte
            vraiment : donner des performances inoubliables. Ensemble, nous rendons chaque étape de ta
            <strong>tournée</strong> fluide, professionnelle et sans stress.
        </p>

        <p>
            <a href="" class="app-button cta">
                BSS prend en charge la logistique de tes tournées&nbsp;!
            </a>
        </p>
    </section>
{% endblock %}
