{% extends 'base.html.twig' %}

{% block body %}
    {% include 'back_office/_header.html.twig' %}

    {% include 'back_office/_navigation.html.twig' %}

    <main class="app-main">
        {% include '_alert.html.twig' %}

        {% block main %}{% endblock %}
    </main>

    {% include 'back_office/_footer.html.twig' %}
{% endblock %}
